<!DOCTYPE html>
<html>
<head>
    <title>Edit Student Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Student Account</h1>
    <hr>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    
    <form action="{{ url_for('admin.update_student', student_id=student.stID) }}" method="POST" class="centered">
        <h3 class="centered">Student ID: {{ student.stID }}</h3>
        <div class ="login-form">
            <label>Name:</label>
            <input type="text" name="name" value="{{ student.sname }}" required class="input-field">
            <br>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Leave blank to keep current" class="input-field">
        </div>
        <br>
        <button type="submit" class="button">Update Student</button>
    </form>
    
    <br>
    <div>
        <a href="{{ url_for('admin.manage_accounts') }}">
            <button class="button">Back</button>
        </a>
    </div>
</body>
</html>