<!DOCTYPE html>
<html>
    <head>
        <title>Student Registered Courses</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Your Registered Courses</h1>
            <hr>
            <br>
            <table class="table">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Professor Assigned</th>
                </tr>
                {% for course in registered_courses %}
                <tr>
                    <td>{{ course.cID }}</td>
                    <td>{{ course.cName }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.pname }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <a href="StudentHome" class = 'left-align'>
                <button class = 'button'>Back</button>
            </a>
        </div>
    </body>
</html>